@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel
<section class="h-100 index-section" style="position:absolute; top: 50%;left: 50%;   transform: translate(-50%, -50%);">
    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100 flex-direaction-column">
            <div class="d-flex flex-column">
                <img class="index-books-stack" src="/img/three_books.svg" alt="TextBooky" />

                <h1 style="color:#353538" class="display-4 center-text">Welcome</h1>
                <p style="color:#353538" class="center-text">We sell a range of textbooks at an affordable price.</p>
            </div>
        </div>
    </header>
</section>


