@model ShoppingCartViewModel

@if (Model.ShoppingCart.shoppingCartItems.Count > 0)
{
    <li >
        <a class="nav-link nav-hover" asp-controller="ShoppingCart" asp-action="Index">
            <span><i class="fas fa-shopping-cart"></i></span>
            <span id="cart-status">
                @Model.ShoppingCart.shoppingCartItems.Count
            </span>

        </a>
    </li>
}
<!--<i class="fas fa-shopping-cart"></i>-->